// Place all the styles related to the dinosaurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: blue;
$main-font-size: 24px;


h1 {
  color:$primary-color;
}
.yellow{
  background-color:yellow;
  p {
    font-size:36px;
  }
}
p {
  font-size: $main-font-size;
}
